{% extends "base.html" %}


{%  block page_content %}
<h1>О нас</h1>
<p style="font-variant: Verdand; font-size: 15"> Наша команда энтузиастов несёт пользу людям!</p>
	<div class="bd-pageheader">	
		<div class = "container">
			<h1></h1>
		</div>
	</div>
	<div class="container">
  		<div class="jumbotron">
  			<h1> <b style="color:red;">PAPER</b> Недвижимость</h1>
  			<p style = "font-size=18 px;">Этот проект призван облегчить поиск квартиры или комнаты рядом с удобным для вас местом.<br> И наш алгоритм постарается найти для вас наиболее удобное место расположения квартиры или комнаты для аренды или покупки.</p>
  			<p>Вам не хочется рано вставать по утрам и далеко ходить? Вам надоело метро и вечные пробки? <br>
  			Тогда наш сайт для Вас!</p>
  		</div>
	</div>


{%endblock%}