{% extends "bootstrap/base.html" %}

{%block title%}Начальная страница{%endblock%}

{%block navbar%}
<div class="navbar navbar-inverse" role = "navigation">
	<div class="container">
		<div class="navbar-header">
			<button type= "button" class="navbar-toggle"
			data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar1"></span>
				<span class="icon-bar2"></span>
				<span class="icon-bar3"></span>
			</button>
		<a href="/" class="navbar-brand">PAPER</a>
		</div>
		<div class="navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/real_estate">Вся недвижимость</a></li>
				<li><a href="/about_us">О проекте</a></li>
			</ul>
		</div>
	</div>
</div>	

{%endblock%}

{%block content%}
<div class="container">
	{% block page_content %}
	{% endblock %}
</div>
{%endblock%}