{%extends "base.html"%}


{%block title%}Начальная страница{%endblock%}


{%block page_content%}



<div class="row">
  <div class="col-lg-12">
    <div class="input-group input-group-lg">
    	
    	<input type="text" class="form-control" placeholder="Введите улицу и дом">
    	
		<div class="input-group-btn">
        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Количество комнат<span class="caret"></span></button>
        	<ul class="dropdown-menu">
		         <li><input type="checkbox" />Студия</li>
		         <li><input type="checkbox" />1-комнатная</li>
		         <li><input type="checkbox" />2-комнатная</li>
		         <li><input type="checkbox" />3-комнатная</li>
		         <li><input type="checkbox" />4-комнатная</li>
		         <li><input type="checkbox" />5-комнатная</li>
		         <li><input type="checkbox" />Многокомнатная</li>
		         <li><input type="checkbox" />Искать все</li>
	        </ul>
      	</div><!-- /btn-group -->

    	<span class="input-group-btn">
        	<button class="btn btn-default" type="button">Поиск</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
{%endblock%}





