{%extends "base.html"%}

{%block page_content%}
	<div class="bd-pageheader">	
		<div class = "container">
			<h1></h1>
		</div>
	</div>
	<div class="container">
  		<div class="jumbotron">
  			<h1> <b style="color:red;">PAPER</b> Недвижимость</h1>
  			<p style = "font-size=18 px;">Этот проект призван облегчить поиск квартиры или комнаты рядом с удобным для вас местом.<br> И наш алгоритм постарается найти для вас наиболее удобное место расположения квартиры или комнаты для аренды или покупки.</p>
  			<p>Вам не хочется рано вставать по утрам и далеко ходить? Вам надоело метро и вечные пробки? <br>
  			Тогда наш сайт для Вас!</p>
  		</div>
	</div>
{%endblock%}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Основная страница проекта</title>
</head>
<body>
	<div class="bd-pageheader">	
		<div class = "container">
			<h1>Титульная страница</h1>
			<p class="lead">Просто титульная страница с кнопкой</p>
		</div>
	</div>

	<div class="container">
  		<h2>Ссылки</h2>
  		<a href="/real_estate" type="button" class="btn btn-info" role="button">Недвижимость</a>  
	</div>
		

	</div>
</body>
</html> -->