{%extends "base.html"%}

{%block head%}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<style type="text/css">
	/*html, body { height: 100%; margin: 0; padding: 0; }*/
	#map { height: 400px; width:600px; }
</style>


{%endblock%}

{%block title%}Поиск недвижимости{%endblock%}


{%block page_content%}



<div class="row">
	<div class="col-lg-8">
		<div style="text-align: center;">
			<div id="map"></div>
		</div>
		<script type="text/javascript">
			
			function initMap() {
				var myLatLng = {lat: 55.753559, lng: 37.609218};
				var map = new google.maps.Map(document.getElementById('map'), {
				    zoom: 10,
				    center: myLatLng
				  });
				var marker = new google.maps.Marker({
				    position: myLatLng,
				    map: map,
				});
				marker.setMap(map);
			}
		</script>
		<script async defer
			src="https://maps.googleapis.com/maps/api/js?key{{ api_key }}&callback=initMap">
		</script>
	 
	</div>
	<div class="col-lg-4" style="background-color: #f2f2f2;">
		<h2>Параметры поиска</h2>
		<form method="POST" action="/results">
			<h4 style="margin-top: 20px;">Тип недвижимости</h4>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-default">
					<input type="radio" name="input_type" value="AR" autocomplete="off">Аренда квартиры
				</label>
				<label class="btn btn-default">
					<input type="radio" name="input_type" value="AS" autocomplete="off">Покупка квартиры
				</label>
				<label class="btn btn-default">
					<input type="radio" name="input_type" value="RS" autocomplete="off">Покупка комнаты
				</label>
				<label class="btn btn-default">
					<input type="radio" name="input_type" value="RR" autocomplete="off">Аренда комнаты
				</label>
			</div>
			<h4>Количество комнат</h4>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-default">
					<input type="checkbox" name="input_room" value="Студия" autocomplete="off">Студия
				</label>
				<label class="btn btn-default">
					<input type="checkbox" name="input_room" value="1" autocomplete="off">1
				</label>
				<label class="btn btn-default">
					<input type="checkbox" name="input_room" value="2" autocomplete="off">2
				</label>
				<label class="btn btn-default">
					<input type="checkbox" name="input_room" value="3" autocomplete="off">3
				</label>
				<label class="btn btn-default">
					<input type="checkbox" name="input_room" value="4" autocomplete="off">4
				</label>
				<label class="btn btn-default">
					<input type="checkbox" name="input_room" value="5" autocomplete="off">5+
				</label>
			</div>
			<h4>Адрес</h4>
			<div class="input-group" style="margin-bottom: 20px;">
				<input name="input_address" type="text" class="form-control" placeholder="Введите улицу и дом" aria-describedby="basic-addon1">
			</div>
			<div class="btn-group btn-group-lg" role="group" aria-label="..." style="margin-bottom: 20px;">
				<button type="submit" class="btn btn-block" href="/results">Начать поиск</button>
			</div>
		</form>

	</div><!-- /.col-lg-4 -->
</div>
{%endblock%}