{%extends "base.html"%}
{%block head%}
{{ super() }}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='pagin.css') }}">
{%endblock%}

{%block page_content%}
{% if page > 1 %}
	<a href="/real_estate/page/{{ page - 1 }}">Предыдущая</a>
{% endif %}
<a href="/real_estate/page/{{ page + 1 }}">Следующая</a>

<table class="table">
		<thead>
			<tr>
				<th>П\п</th>
				<th>Наименование</th>
				<th>Адрес</th>
				<th>Количество комнат</th>
				<th>Общая площадь</th>
				<th>Этаж</th>
				<th>Станция метро</th>
				<th>Цена</th>
				<th>Ссылка</th>
				<th>Источник</th>
				{% for instance in data %}
				<tbody>
					<tr>
						<td>{{ loop.index + (page - 1) * per_page }}</td>
						<td>{{instance.name}}</td>
						<td>{{instance.obj_address}}</td>
						<td>{{instance.rooms}}</td>
						<td>{{instance.area}}</td>
						<td>{{instance.floor}}</td>
						<td>{{instance.metro_station}}</td>
						<td>{{date_and_price[instance.id].price}}</td>
						<td><a href="{{instance.href}}" target="_blank">Ссылка</a></td>
						<td>{{instance.source}}</td>
					</tr>
				</tbody>
				{%endfor%}
			</tr>
		</thead>
	</table>

{%endblock%}