{%extends "base.html"%}

{%block page_content%}
{{input_type}}
{{input_room}}
{{input_address}}
{% if page > 1 %}
	<a href="/real_estate/page/{{ page - 1 }}">Предыдущая</a>
{% endif %}
<a href="/real_estate/page/{{ page + 1 }}">Следующая</a>

<table class="table">
		<thead>
			<tr>
				<th>П\п</th>
				<th>Наименование</th>
				<th>Адрес</th>
				<th>Количество комнат</th>
				<th>Общая площадь</th>
				<th>Этаж</th>
				<th>Станция метро</th>
				<th>Цена</th>
				<th>Ссылка</th>
				<th>Источник</th>
				{% for instance in data %}
				<tbody>
					<tr>
						<td>{{instance.id}}</td>
						<td>{{instance.name}}</td>
						<td>{{instance.obj_address}}</td>
						<td>{{instance.rooms}}</td>
						<td>{{instance.area}}</td>
						<td>{{instance.floor}}</td>
						<td>{{instance.metro_station}}</td>
						<td>{{date_and_price[instance.id-1].price}}</td>
						<td><a href="{{instance.href}}" target="_blank">Ссылка</a></td>
						<td>{{instance.source}}</td>
					</tr>
				</tbody>
				{%endfor%}
			</tr>
		</thead>
	</table>

{%endblock%}